mixin book(options)
	+b.book(data-tags=options.tags.join(','))&attributes(attributes)
		+e.A.thumb(href=options.link title=options.title)
			img(src=`images/books/${options.thumb}` alt=options.title)
		+e.SPAN.title=options.title
		+e.SPAN.authors
			each author in options.authors
				+e.SPAN.author=author
